.form-flex-Box {
  display: flex;
  flex-wrap: wrap;
  .el-form-item {
    width: 25%;
    height: 30px !important;
    margin-bottom: 3px;
  }
  .el-input__inner, label, input {
    height: 30px !important;
  }
  .el-date-editor--datetimerange {
    input {
      height: 28px !important;
    }
    i, span {
      line-height: 23px;
    }
  }
  .el-button {
    height: 30px;
    margin-top: 6px;
    margin-left: 10px;
    padding: 7px 15px
  }
 .el-form-item__content {
   text-align: left;
   height: 30px;
 }
}